@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
    line-height: 1.5;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}
